* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
    background-image: linear-gradient(rgba(44, 84, 165, 0.373)) , url("./4k-astronaut-with-planet-balloons-obmeigwjtm09atxj.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100vh;
    color: white;
    padding: 20px;
    font-family: sans-serif;
}
.btn {
    margin: 10px 0;
    padding: 5px;
    border-radius: 10px;
}