:root {
  --space-s: 8px;
  --space-m: 16px;
  --space-l: 24px;
  --space-xl: 32px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  background: rgba(230, 0, 230, 0.521);
}
main {
  background: rgba(230, 0, 230, 0.521);
  min-height: 100vh;
  padding: var(--space-xl);
}
.card {
  background: grey;
  padding: var(--space-l);
  margin: var(--space-m);
  border-radius: var(--space-s);
  color: white;
}
.card .show-btn,
.card .edit-btn,
.card .del-btn,
.card .fav-btn {
  padding: var(--space-s) var(--space-m);
  margin: var(--space-s);
  border-radius: var(--space-s);
  color: white;
  border: none;
  outline: 1px solid black;
}
.card .show-btn {
  background: green;
}
.card .edit-btn {
  background: rgb(0, 81, 255);
}
.card .del-btn {
  background: rgb(255, 0, 0);
}
.card .fav-btn {
  background: gold;
  color: black;
}
.answer {
  display: none;
}
.card.flipped .answer {
  display: block;
}
.card.flipped {
  color: black;
  border: 1px solid black;
}
.card.is-fav {
  border: 2px solid gold;
}
#main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: var(--space-m);
  background: lightblue;
  width: 600px;
  margin: 0 auto;
  border-radius: var(--space-l);
}

#search-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--space-m);
  padding: var(--space-l);
}
form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: var(--space-l);
}
form div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0;
}
form * {
  margin: var(--space-s);
}
#search {
  padding: var(--space-s) var(--space-m);
  border-radius: var(--space-s);
  border: none;
  transition: all 0.3s;
}
#search:focus {
  outline: 1px solid black;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
}
#topic {
  padding: var(--space-s) var(--space-m);
  border-radius: var(--space-s);
  border: none;
  transition: all 0.3s;
}
#topic:focus {
  outline: 1px solid black;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
}
#q {
  padding: var(--space-s) var(--space-m);
  border-radius: var(--space-s);
  border: none;
  transition: all 0.3s;
}
#q:focus {
  outline: 1px solid black;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
}
#a {
  padding: var(--space-l) var(--space-xl);
  border-radius: var(--space-s);
  border: none;
  resize: none;
  transition: all 0.3s;
}
#a:focus {
  outline: 1px solid black;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
}
#cat {
  padding: var(--space-s) var(--space-m);
  border-radius: var(--space-s);
  border: none;
  transition: all 0.3s;
}
#cat:focus {
  outline: 1px solid black;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
}
#enter-btn {
  padding: var(--space-s) var(--space-m);
  border-radius: var(--space-s);
  border: none;
  transition: all 0.3s;
}
#enter-btn:hover {
  background: lightpink;
  transform: scale(1.1);
}
.study-zone {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: var(--space-l) auto;
  flex-direction: column;
  padding: var(--space-m);
  background: rgb(104, 194, 224);
  width: 400px;
  border-radius: var(--space-l);
  width: 600px;
}
.hidden {
  display: none;
}
#start {
  padding: var(--space-s) var(--space-m);
  border-radius: var(--space-s);
  border: none;
  margin: var(--space-l) auto;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
}
#start:hover {
  background: rgba(0, 102, 255, 0.784);
  color: white;
  transform: scale(1.1);
}
#panel {
  padding: var(--space-s) var(--space-m);
  border-radius: var(--space-s);
  border: none;
  margin: var(--space-m);
  transition: all 0.3s;
}
#panel:hover {
  background: rgba(0, 102, 255, 0.784);
  color: white;
  transform: scale(1.1);
}
#next,
#previous {
  padding: var(--space-s) var(--space-m);
  border-radius: var(--space-s);
  border: none;
  outline: 1px solid black;
  color: black;
  background: rgb(0, 255, 145);
  margin: var(--space-m);
}
#fav-cards {
  appearance: none;
}
.check-span {
  background: white;
  padding: var(--space-s) var(--space-m);
  border-radius: var(--space-s);
}
#fav-cards:checked + .check-span {
  background: gold;
  border-radius: var(--space-s);
}
